*{
	text-decoration: none;
	border: none;
	transition: all .5s;
	-webkit-transition: all .5s; /* Safari */

}

body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.wrapper{
	margin: 0 auto;
	width: 100%;
}
.social-top a:hover{
	opacity: .5;
}
.choices{
	display: inline-block;
	clear: both;
}
.choice{
	display: block;
	width:100%;
}
.choice label{
	width: 100%;
	clear: left;
}

.choice img:hover{
	
}
.trainer{
	float: right;
}
.member{
	float: left;
}
.header{
	text-align: center;
	background-color: #e45629;
	background-image: url('../images/gymnut-background.jpg');
	background-position: center top;
	color: #fff;
	padding: 3em 0;
}
.footer{
	background-color: #fff;
	width: 280px;
	padding: 0 20px;
	margin: 0 auto;

}
.footer-bg{
	background-color: #100501;
	width: 100%;
}
#gymnut-shape{
	display: none;
}
.module{
	padding-bottom: 3em;
}
.module h4{
	font-size: 1em;
	color: #100501;
}
.module p{
	font-size: 1em;
	color: #100501;
}
.module a:hover{
	opacity: .5;
}
h1{
	position: relative;
	left: -100000px;
	height: 0;
}

h2{
	font-weight: 800;
}
h3{
	font-weight: 100;
}
.input{
	display: block-inline;
	height: 44px;
	border: 3px solid #67984f;
	border-radius: 3px;
	margin: 0 auto;
	padding: 0 0 0 20px;
	width: 250px;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	font-weight: 100;
	line-height: 44px;
-webkit-appearance: none;


}
.button{
	display: block-inline;
	line-height: 44px;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #fff;
	position: relative;
	top: 20px;
	height: 50px;
	border: 3px solid #67984f !important;
	border-radius: 3px;
	background-color:#67984f;
	margin: 0 auto;
	padding: 0;
	width: 200px;
	-webkit-appearance: none;


}
.button:hover{
	background-color:#8ACC6A;
	color: #fff;
	}

.button:active{
	background-color:#707F69;
	color: #fff;
	}
.module{
	text-align: center;
	
}
.endorsed img{
	width: 100%;
	padding-top: 1em;
}

@media (min-width: 700px){

h2{
	font-size: 3em;
	width: 700px;
	text-align: center;
	display: block;
	margin: 1em auto;

}
.choice{
	display: block;
	width:196px;
	padding:0 20px;
}
.footer{
	background-color: #fff;
	width: 500px;
	padding: 100px;
	margin: 0 auto;

}
#gymnut-shape{
	display: none;
}
.module h4{
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}
.module p{
	font-size: 1.5em;
}
.input{

	height: 44px;
	border: 3px solid #67984f;
	border-radius: 3px;
	margin: 0;
	padding: 0 0 0 20px;
	width: 300px;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	font-weight: 100;
	line-height: 44px;

}
.button{

	line-height: 44px;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #fff;
	position: relative;
	top: 0;
	left: -6px;
	height: 50px;
	border: 3px solid #67984f !important;
	border-radius: 3px;
	background-color:#67984f;
	margin: 0;
	padding: 0;
	width: 100px;

}

}

@media (min-width: 1280px){
.logo{
	margin: 0;
	padding: 0;
}
h2{
	font-size: 5em;
	width: 1200px;
	text-align: center;
	display: block;
	margin: 44px auto 0;

}
h3{
	font-size: 2em;
	width: 900px;
	text-align: center;
	margin: 0 auto 66px;
}
.social-top{
	position: relative;
	left: 600px;

}
.header{
	text-align: center;
	background-color: #e45629;
	background-image: url('../images/gymnut-background.jpg');
	color: #fff;
	padding: 3em 0 700px;
}
.input{
	width: 450px;
}
.footer{
	position: relative;
	top: -600px;
	background-color: transparent;
	display: block;
	background-image: url('../images/gymnut-shape.png');
	width: 1280px;
	height: 1385px;
	margin: 0 auto;
	padding:0 0 115px 0 ;

}
.footer-bg{
	display: block;
	height: 900px;
}
#gymnut-shape{
	display: none;
	z-index: 1;
	margin: 0 auto;
	width: 1200px;
}
.module{
	width: 320px;
	padding: 0 50px;
	display: inline-block;
}

.tracking{
	position: relative;
	top: 480px;
}
.exchange{
	position: relative;
	top: 280px;
}
.tips{
	position: relative;
	top: 480px;	
}
.animation{
	position: relative;
	top: 380px;	
	left: 420px;
}
.endorsed{
	position: relative;
	top: 450px;
	width: 800px !important;
	left: 160px;

}
.social{
	position: relative;
	top: 550px;
	left: 400px;
}
.social img{
	padding-top: 1em;
}
}

